p {
    padding: 0;
    margin: 0;
}

body {
    margin: 50px auto;
    background-color: plum;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
}

.grid {
    padding-top: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.grid-bg {
    background-color: rgb(163, 146, 221);
}


.birds-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.birds {
    padding-top: 10px;
    max-width: 60%;
}

.birds-text {
    max-width: 60%;
    text-transform: lowercase;
    padding-top: 10px;
}

.my-world {
    background-color: rgb(115, 224, 57);
}

.juice {
    color: rgb(255, 0, 234);
}

.red {
    background-color: rgb(230, 206, 206);
    background-image: url("assets/paddling.png");
}

.edited {
    padding: 20px 0;
}

.video {
    width: 90%;
    padding: 20px;
}

.willow,
.god {
    background-color: rgb(147, 179, 242);
}

.willowvid {
    padding: 20px;
    width: 30%;
}

.green {
    background-color: rgb(146 164 221)
}

.reverse {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}