p {
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono", monospace;
}

h1,
h2,
h3,
a {
    font-family: "Roboto Mono", monospace;
}

body {
    margin: 50px auto;
    background-color: plum;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
}

.grid {
    padding-top: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.grid-bg,
.heatwave {
    background-color: rgb(163, 146, 221);
}

.heatwave {
    background-image: url("assets/books.png");
}

.birds-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.birds {
    padding-top: 10px;
    max-width: 60%;
}

.birds-text {
    max-width: 60%;
    text-transform: lowercase;
    padding-top: 10px;
}

.my-world {
    background-color: rgb(115, 224, 57);
}

.juice {
    color: rgb(255, 0, 234);
}

.red {
    background-color: rgb(230, 206, 206);
    background-image: url("assets/paddling.png");
}

.dream {
    background-image: url("assets/conceived in a dream.png");
    background-position: center;
    background-color: rgb(70, 69, 69);
    color: rgb(70, 69, 69);
}

.edited {
    padding: 20px 0;
}

.video {
    width: 90%;
    padding: 20px;
}

.willow,
.god {
    background-color: rgb(147, 179, 242);
}

.riderless {
    background-color: rgb(204, 214, 235);
}

.riderless img {
    max-width: 600px;
}

.riderless p,
.riderless a {
    font-family: "Jacquarda Bastarda 9", serif;
    padding-bottom: 10px;
}

.riderless p {
    font-size: 30px;
}

p.gulch1 {
    padding-top: 10px;
}

.willowvid {
    padding: 20px;
    width: 30%;
}

.green,
.is {
    background-color: rgb(146 164 221);
}

.green p:not(a) {
    font-size: 6rem;
    opacity: .09;
}

.green h1 {
    font-size: 1rem;
}

.reverse {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}


.twigs {
    background-color: rgb(230, 206, 206);
    background-image: url("assets/bunty.png");
}

.swim {
    background-image: url("assets/companion art garden.png");
    background-size: cover;
}

.portrait {
    max-width: 100%;
}

.video-box {
    padding-bottom: 20px;
}

@media only screen and (max-width: 900px) {
    .video-box {
        flex-direction: column;
    }

    .video-box video {
        width: 100%;
    }
}